<div class="container">
    <div class="m-0 p-0">
        <h1 class="display-4">Plataformas</h1>
        <p class="lead ">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
    <!-- plataforma android -->

    <div class="row m-0 p-0">
        <img src="::/../../../../assets/Imagenes/plataformaAndroid.png" class="col-12 col-lg-6 m-auto" alt="...">
        <div class="col-12  col-lg-6 m-auto">
            <h5 class="display-4">Android</h5>
            <p class=" lead">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                in faucibus.</p>
        </div>
        <div class="col-12 col-lg-6  m-auto">
            <h5 class="display-4">Iphone</h5>
            <p class="lead">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                in faucibus.</p>
        </div>
        <img src="::/../../../../assets/Imagenes/IphonePhotoshop.png" class=" col-12 col-lg-6 m-auto" alt="...">


        <!-- Paginas Web -->

        <img src="::/../../../../assets/Imagenes/pcPhotoshop.png" class=" col-12 col-lg-6 " alt="...">
        <div class="col-12 col-lg-6 lead">
            <h5 class="mt-0 m-0 p-0 display-4">Paginas web</h5>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis
                in faucibus.</p>
        </div>


        <div class=" col-12 col-lg-6 m-auto lead">
            <h5 class="mt-0 mb-1 display-3">Programa de pc</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
        <img src="::/../../../../assets/Imagenes/pcPhotoshop.png" class=" col-12 col-lg-6 " alt="...">
    </div>
</div>